.App{
    background-image: url("C:\Users\devan\OneDrive\Desktop\YouTube\LOGO-Transparent.png");
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: center;
    background-position-y: 160px;
    align-items: center;
    justify-content: center;
    display: flex;
}